.strong { font-weight: bold; }
.panel-group{
    margin-top: -18px;
    min-height: 10px;
    min-width: 100px;
    max-width: 240px;
    max-height: 15px;
    visibility: hidden;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
}
.panel-body{
    text-align: center;
    max-height: 100px;
}
.navbar-left{
    text-indent: 17px;
}
.btn-default{
    max-height: 30px;
    max-width: 240px;
    line-height: 5px;
}
#testsuitegrid{
    margin-right: 5px;
    margin-top: -15px;
    visibility: hidden;
    width: 1020px;
    height: 500px;
}
#testsuitelabel{
    visibility: hidden;
    margin-right: 830px;
    margin-top: -30px;
    font-size: smaller;
    
}
#runTestSuiteBttn{
    width: 600px;
    margin-right: 50px;
    margin-left: 80px;
}
#runProjectBttn{
    width: 600px;
    margin-right: 50px;
}
#deleteProjectBttn{
    width: 600px;
}
#testsuitegridbttns{
    margin-top: 430px;
}