.strong { font-weight: bold; }
.panel-group{
    margin-top: -18px;
    min-height: 10px;
    min-width: 100px;
    max-width: 240px;
    max-height: 15px;
    visibility: hidden;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
}
.panel-body{
    text-align: center;
    max-height: 100px;
}
.navbar-left{
    text-indent: 17px;
}
.btn-default{
    max-height: 30px;
    max-width: 240px;
    line-height: 5px;
}
#testsuitegrid{
    margin-right: 2px;
    margin-top: -35px;
    visibility: hidden;
    width: 1673px;
    height: 850px;
    z-index: 10;
}
#testcasegrid{
    position:relative;
    width: 1300px;
    height: 600px;
    
}

#addTestCaseBttn{
    position:relative;
    width: 500px;
    margin-top: 110px;
}
#deleteTestCaseBttn{
    position:relative;
    width: 500px;
    margin-top: 210px;
    margin-right: -239px;
}
#runTestCaseBttn{
    position:relative;
    width: 500px;
    margin-top: 330px;
    margin-right: -240px;
}

#testsuitelabel{
    position:relative;
    visibility: hidden;
    margin-right: 1470px;
    margin-top: -25px;
    font-size: medium;
    z-index: 10;
}
#runTestSuiteBttn{
    position:relative;
    width: 600px;
    margin-bottom: -250px;
    margin-right: 300px;
    margin-left: 130px;
}
#runProjectBttn{
    position:relative;
    margin-bottom: -250px;
    width: 600px;
    margin-right: 50px;
}
#deleteProjectBttn{
    margin-bottom: -250px;
    margin-left: 210px;
    position:relative;
    width: 600px;
}
#testsuitegridbttns{
    margin-top: 430px;
}